body {
  background-image: "assets/images/ezgif.com-resize.webp"
}
.btn {
  border: 2px solid  red;
}
.btnsDiv{
  border: 8px solid blue;
}
.getTopic{
  float: left;
  border: 3px solid purple;
}
.gif{
  padding: 10px;
}
.showGifs{
  border: 4px solid green;
}
.info{
  font-size: 10px;
}