body {
  background-image: "assets/images/ezgif.com-resize.webp"
}
.btn {
  border: 2px solid  red;
}
.btnsDiv{
  border: 3px solid blue;
}
#newTopic{
  padding-left: 15px;
}
.getTopic{
  float: left;
  border: 3px solid purple;
}
.gif{
  padding: 10px;
  border: 2px solid grey;
}
.showGifs{
  border: 4px solid green;
}
.info{
  font-size: 12px;
}
.imgContainer{
  position: relative;
}
.infoText {
  border: 3px solid red;
  position: absolute;
  bottom: 5px;
  background-color: black;
  color: white;
  padding: 4px;
}
.favorites{
  border: 3px solid aquamarine;
}
