  html {
    height: 100%;
     box-sizing: border-box;
  }

  body {
    /* border: 5px solid black; */
    height: 100%;
    /* padding-top: 75px; */
    margin: 0;
    padding: 0;
    margin: auto;
    align-content: center;
    background: linear-gradient(to bottom right, rgb(201, 225, 236), rgb(0, 8, 12));
    border: 200px, rgb(0, 8, 12,.25);
  /* background-image: url("assets\images\cersei-game-of-thrones-map.webp"); */
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: rgb(190, 236, 250); */
  /* font-family: 'Metamorphous',cursive;
  font-size: 16px; */
 
}

.container{
  margin: auto;
   margin-top:60px;
   
   
   align-content: center;
   width: 80%;
   /* border: 3px solid rgb(2, 65, 94); */
}
#banner{
  height: 95px;
   width: 75%;
   padding: 20px;
   border: 3px solid rgb(2, 65, 94);
}
#giphyBadge{
  float: right;
  max-width: 100%;
  height: 75px;
}

.btnsDiv{
  background-color: rgb(190, 236, 250);
  border: 3px solid #8acbe9;
  min-height: 30px;
  margin-bottom: 10px;
  padding:5px;
}
#newTopic{
  padding-left: 15px;
  font-family: "Metamorphous";
  height: 23px;
  font-size: 20 px;
  font-weight: bold;
  color: rgb(1, 1, 51);
}
.txtBtn, .imgBtn, #getMore {
  min-height: 30px;
  font-family: "Metamorphous";
  font-size: 20 px;
  font-weight: bold;
  background-color: rgb(250, 244, 236);
  padding: 2px;
  margin: 3px;
  color: black;
}
.txtBtn:hover .imgBtn:hover #getMore:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}
.getTopic{
  float: left;
  border: 3px solid purple;
}
.gif{
  padding: 8px;
  margin: 8px;
  border: 8px groove grey;
  background-color:rgb(250, 244, 236);
}
.showGifs{

  margin: 0 auto;
  width: 90%;
  border: 4px solid rgb(1, 1, 51);
  height:1250px;
  padding-top: 40px;
  padding-left: 60px;
  background-image: url("../images/cersei-game-of-thrones-map.webp"); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-bottom: 200px, rgb(0, 8, 12, .25);
}
#getMore{
  clear: both;
  /* float: right; */
  padding: 8px;
  border: 8px;
  margin: 8px;
  margin-bottom: 8px;

}
.info{
  font-size: 12px;
}
.imgContainer{
  position: relative;
}
.infoText {
  border: 3px solid red;
  position: absolute;
  bottom: 5px;
  background-color: black;
  color: white;
  padding: 4px;
}
/* .favorites{
  border: 3px solid aquamarine;
} */
.clearfix {
  overflow: auto;
}